body, html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: -48px;
    margin-left: 0px;
}


.third {
    margin-left: -10px;
}
.third path{
    stroke-dasharray: 900;
    stroke-dashoffset: 900;
    animation: third 2s linear 0s forwards;
}

@keyframes third {
    100% {
        stroke-dashoffset: 1800;
    }
}


.second {
    margin-left: -6px;
}
.second path {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;

    animation: second 1.5s linear 1.9s forwards;
}
@keyframes second {
    100% {
        stroke-dashoffset: 0;
    }
}


.first {
    margin-bottom: -48px;
}
.first path {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;

    animation: second 0.8s linear 2.3s forwards;
}  

@keyframes first {
    100% {
        stroke-dashoffset: 0;
    }
}


.neon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes neon-up {
    100% {
        opacity: 0.8;
    }
}
@keyframes neon-bottom {
    100% {
        opacity: 0.5;
    }
}


.neon .up {
    opacity: 0;
    filter: blur(8px);
    animation: neon-up 0.3s ease 2.5s forwards;
}
.neon .bottom {
    opacity: 0;
    filter: blur(25px);
    animation: neon-bottom 0.3s ease 2.5s forwards;
}